/** @format */
body {
  font-size: 2rem;
  background-color: red;
}

h1 {
  font-size: 5.5rem;
  text-wrap: balance;

  & span {
    color: green;
  }

  @media (min-width: 750px) {
    & span {
      color: blue;
    }
  }
}

textarea {
  field-sizing: content;
}

@property --custom-color {
  syntax: "<color>";
  inherits: false;
  initial-value: red;
}
