/**
 * Layer
 *
 * @format
 */

@layer reset, theme, base, layout, component, utils;

@import url("./css/base.css") layer(base);
@import url("./css/component.css") layer(component);
@import url("./css/layout.css") layer(layout);
@import url("./css/utils.css") layer(utils);

@layer layout {
  /* .article {
    width: 500px;
  } */

  .btn-group {
    padding-block: 1rem 0;
    padding-inline-left: 1rem;
    padding-inline-right: 2rem;
  }
}

@layer component {
  @container article (min-width:750px) {
    .card {
      background-color: pink;
    }
  }

  .card:not(:last-child) {
    margin-bottom: 1rem;
  }

  .form {
    display: block;
    padding: 1rem;

    & p {
      --custom-color: green;
      color: var(--custom-color);
    }

    &:has(input:user-valid) {
      background: green;
    }

    &:has(input:user-invalid) {
      background: blue;
    }
  }

  .anchor {
    anchor-name: --infobox;
    background: palegoldenrod;
    font-size: 3em;
    width: fit-content;
    border: 1px solid goldenrod;
  }

  .positionedElement {
    position: absolute;
    position-anchor: --infobox;
    margin: 0;
    top: anchor(top);
    left: calc(anchor(right) + 10px);
    bottom: anchor(bottom);
    background-color: olive;
    border: 1px solid darkolivegreen;
  }
}

@layer utils {
  .flex {
    display: flex;
    gap: 1rem;
  }

  .flex-item {
    flex: 1;
    background: #fff;
  }

  .color-primary {
    color: var(--custom-color);
  }

  .items-wrapper {
    display: contents;
    .flex-item {
      background: green;
    }
  }
}
