/**
 * Layer
 *
 * @format
 */

@layer reset, theme, base, layout, component, utils;

@import url("./css/base.css") layer(base);
@import url("./css/component.css") layer(component);
@import url("./css/layout.css") layer(layout);
@import url("./css/utils.css") layer(utils);

@layer layout {
  /* .article {
    width: 500px;
  } */

  .btn-group {
    padding: 1rem 0;
  }
}

@layer component {
  @container article (min-width:750px) {
    .card {
      background-color: pink;
    }
  }

  .card:not(:last-child) {
    margin-bottom: 1rem;
  }

  .form {
    display: block;
    padding: 1rem;

    &:has(input:user-valid) {
      background: green;
    }

    &:has(input:user-invalid) {
      background: blue;
    }
  }
}

@layer utils {
  .flex {
    display: flex;
  }
}
