/**
 * Layer
 *
 * @format
 */

@layer reset, theme, base, layout, component, utils;

@import url("./css/base.css") layer(base);
@import url("./css/component.css") layer(component);
@import url("./css/layout.css") layer(layout);
@import url("./css/utils.css") layer(utils);

@layer layout {
  /* .article {
    width: 500px;
  } */
}

@layer component {
  @container article (min-width:750px) {
    .card {
      background-color: pink;
    }
  }

  .card:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@layer utils {
  .flex {
    display: flex;
  }
}
